/*----------------------------------form--------------------------------*/
.form {
    &__input {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 24px;
        padding: 1rem 1.5rem;
        color: var(--color-primary);
        background: #f9f9f9;
    }
    &__input::placeholder {
        color: var(--color-primary);
        @include fluid-text(14, 16);
    }
    &__input_textarea {
        resize: none;
        height: 140px;
    }
    &__button {
        display: block;
        margin-bottom: 1.5rem;
        border-radius: 5px;
        background: var(--color-orange);
        color: var(--color-white);
        padding: 1rem;
        cursor: pointer;
        font-weight: 700;
    }
}
.form__checkbox:checked + .form__checkbox_custom::before {
    transform: translate(-50%, -50%) scale(1);
}

/*----------------------------------form--------------------------------*/