/*----------------------------------global--------------------------------*/
body.lock {
    overflow: hidden;
}
body { 
    font-family: var(--font-family-base); 
    font-size: 0.9rem;
    font-weight: 400; 
    color: var(--color-white); 
    background: var(--color-primary);
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
._container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0px var(--container-padding-x);
}
section {
    padding: var(--section-padding-y) 0rem;
    @include table {
        padding: 3rem 0rem; 
    }
    @include mobile {
        padding: 1.5rem 0rem; 
    }
}
._ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.title {
    font-size: 3.7rem;
    line-height: 100%;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 138%;
    @include table {
        font-size: 3.6rem;
    }
    @include mobile {
        font-size: 2.3rem;
    }
}
.subtitle {
    font-size: 2.5rem;
    color: var(--color-white);
    padding: 2.5rem 0rem;
    position: relative;
    font-weight: 700;
    line-height: 160%;
    &::before {
        position: absolute;
        content: '';
        width: 6rem;
        height: 0.5rem;
        top: 0;
        left: 0;
        background-color: var(--color-red);
    }
    @include mobile {
        font-size: 1.3rem;
        padding: 1rem 0rem;
    }
}
.text {
    font-size: 1.3rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    @include mobile {
        font-size: 0.9rem;
    }
}
.button {
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--color-orange);
    transition: all 0.3s;
    display: inline-block;
    font-weight: 700;
    position: relative;
    z-index: 9;
}
.button-primary {
    background-color: var(--color-orange);
    @include hover {
        color: var(--color-orange);
        background-color: inherit;
    }
    @include mobile {
        width: 100%;
        text-align: center;
        display: block;
    }
}
.button-secondary {
    color: var(--color-orange);
    @include hover {
        color: var(--color-white);
        background-color: var(--color-orange);
    }
    @include mobile {
        display: none;
    }
}
.list {
    padding: 2rem 0rem;
     li {
        font-size: 1.3rem;
        line-height: 150%;
        letter-spacing: 0.01em;
        font-weight: 700;
        padding-left: 1.9rem;
        position: relative;
        @include mobile {
            padding-left: 1rem;
        }
        &::before {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            top: 0.8rem;
            left: 1rem;
            border-radius: 50%;
            background-color: var(--color-white);
            @include mobile {
                top: 0.5rem;
                left: 0.1rem;
            }
        }
        @include mobile {
            font-size: 0.9rem;
        }
    }
}
/*----------------------------------global--------------------------------*/