/*---------------------------------------sliders----------------------------*/
.slider-wrapper {
  position: relative;
  padding: 0rem 1.5rem;
  display: none;
  @include mobile {
    display: block;
  }
}
.spheres-slider {
    overflow: hidden;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
  .swiper-slide {
    height: auto;
    transition: all 0.5s ease;
}
.swiper-slide .sphere {
    height: 100%;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
}
  .swiper-button-next {
    right: -10px;
}
  .swiper-button-prev {
    left: -10px;
}
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
}
  .swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--color-white);
    transition: All 0.5s ease 0s;
    width: 16px;
    height: 16px;
    scale: 0.7;
}
  .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    scale: 1.2;
    background-color: var(--color-brown-light);
    background-color: #7B614D;
}

/*---------------------------------------sliders----------------------------*/